<p>Check the forecasts:</p>

<% @user.spots.each do |spot| %>
  <% if spot.spot_forecasts.any? %>
    <p><%= link_to spot.url, spot.url %></p>

    <table>
      <th colspan='2'><%= spot.spot_forecasts.first.model %></th>
      <th>knots</th>
      <th>direction</th>
      <% spot.spot_forecasts.each do |forecast| %>
        <tr>
          <td><%= forecast.start_at.strftime("%A, %-d") %></td>
          <td><%= forecast.start_at.strftime("%l %P") %></td>
          <td><%= forecast.wind_speed %></td>
          <td><%= forecast.wind_direction_word %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
