<p>Check the forecasts:</p>

<% @user.spots.each do |spot| %>
  <p>
    <%= link_to spot.name, spot.url %>
    (<%= model_name(spot) %>)
  </p>
  <% group_by_date(spot.spot_forecasts).each do |date, forecasts| %>
    <table>
      <th><%= date.strftime("%A, %-d") %></th>
      <% forecasts.each do |forecast| %>
        <tr>
          <td><%= forecast.start_at.strftime("%l %P") %></td>
          <td><%= forecast.wind_speed %></td>
          <td><%= direction_word(forecast.wind_direction) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
