<div class="pages">
  <h2 class="headline">
    Welcome!
  </h2>

  <div class="row justify-content-between">
    <div class="col-md-5">
      <%= render "user_spots/form", spot_creator: @spot_creator %>
      <br>
    </div>

    <div class="col-md-5">
      <% if @user_spots.any? %>
        <div class="spot-list">
          <h4>You are tracking <%= pluralize @user_spots.size, "spot" %></h4>
          <ul class="list-group">
            <% @user_spots.each do |user_spot| %>
              <li class="list-group-item row">
                <div class="col-10">
                  <%= link_to user_spot.url, class: 'text-muted', target: '_blank' do %>
                    <span class="text-muted">windguru.cz/</span>
                    &nbsp;
                    <b><%= user_spot.code %></b>
                    <br>
                    <small><%= user_spot.name %></small>
                  <% end %>
                </div>
                <div class="col-2">
                  <%= link_to user_spot_path(user_spot), method: :delete, class: "no-decoration close" do %>
                    <span>&times;</span>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
          <small class="text-muted">
            you will receive e-mail alerts when there is more than 10 knots!
          </small>
        </div>
      <% end %>
    </div>
  </div>
</div>
